body {
    background-color: aliceblue;
}

img {
    width: 100%;
    height: 300px;
}

.style-div {
    background-color: gainsboro;
    box-sizing: border-box;
    border: 5px solid transparent;
    background-clip: padding-box;
    padding: 5px;
}

.h1 {
    font-weight: bold;
}